<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="GeodesicsWebAPI_ErrorLog" xsi:type="File"
            fileName="Logs\GeodesicsWebAPI_ErrorLog_${shortdate}.log" />
  </targets>

  <rules>
    <!--<logger name="*" minlevel="Trace" writeTo="GeodesicsWebAPI_ErrorLog" />-->
    <logger name="*" minlevel="Error" writeTo="GeodesicsWebAPI_ErrorLog" />
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <loggername minlevel="Trace" writeTo="otherFile-web" />
  </rules>
</nlog>